# An OpenSSL format CSR config file for creating the ocsp responder certificate.
# This configuration file is also used when operating the CA.
#
# This certificate is used to sign OCSP resonpose.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
req_extensions         = v3_ocsp

[ req_distinguished_name ]
CN                     = Test CA for PostgreSQL SSL regression test ocsp response

# Extensions for OCSP responder certs
[ v3_ocsp ]
basicConstraints = CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = OCSPSigning
