# An OpenSSL format CSR config file for creating the ocsp responder certificate.
# This configuration file is also used when operating the CA.
#
# This certificate is used to sign OCSP resonpose.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
req_extensions         = v3_ocsp

[ req_distinguished_name ]
CN                     = Test CA for PostgreSQL SSL regression test ocsp response

# Extensions for OCSP responder certs
[ v3_ocsp ]
basicConstraints = CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = OCSPSigning

[ ca ]
default_ca = ocsp

# A shell of a CA, mostly duplicating the server CA, which is used only during
# the OCSP index generation recipes.
[ ocsp ]
dir = ./ssl/

# The database (or "index") is the main thing we want.
database = ./ssl/ocsp-certindex

# Everything else should all be unused, so we specify whatever's most
# convenient. In particular there's no need to have a unique cert/key pair for
# this.
certificate = ./ssl/server_ca.crt
private_key = ./ssl/server_ca.key
serial = ./ssl/ocsp_ca.srl
default_md = sha256
policy = policy_match

